<!DOCTYPE html>
<html>
  <head>
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <style>
      html {
        color: #ccc;
        background-color: #111;
        font-family: sans-serif;
      }
      body {
        margin: 2rem;
        padding: 0;
      }
      #message {
        font-size: 1.5rem;
        font-weight: bold;
        text-align: center;
      }
    </style>
  </head>
  <body>
    <h1 id="message">Not Found</h1>
  </body>
</html>