const router = (() => {
  ${router_code}
  return router;
})();

function handler(event) {
  const request = event.request;
  const path = router(request.uri) || request.uri;
  request.uri = path === '/' ? '/index.html' : path;
  return request;
}
