openapi: "3.1.1"

info:
  title: "Seahax API"
  version: "1.0"
  license:
    name: "UNLICENSED"
    identifier: "UNLICENSED"

servers:
  - url: "https://seahax.com/api"

paths:
  /auth:
    post:
      operationId: "login"
      summary: "Log a user in with a username and password."
      security: []
      requestBody:
        content:
          application/json:
            schema:
              oneOf:
                - $ref: "#/components/schemas/AuthLoginRequestModel"
                - $ref: "#/components/schemas/AuthRefreshRequestModel"
      responses:
        "200":
          $ref: "#/components/responses/AuthOkResponse"
        "400":
          $ref: "#/components/responses/BadRequestResponse"

components:
  securitySchemes:
    BearerAuth:
      type: "http"
      scheme: "bearer"

  responses:
    BadRequestResponse:
      description: "Bad Request"

    AuthOkResponse:
      description: "OK"
      content:
        application/json:
          schema:
            $ref: "#/components/schemas/AuthLoginOkResponseModel"

  schemas:
    AuthLoginRequestModel:
      type: "object"
      properties:
        username:
          type: "string"
        password:
          type: "string"
      required:
        - username
        - password

    AuthRefreshRequestModel:
      type: "object"
      properties:
        refreshToken:
          type: "string"
      required:
        - refreshToken

    AuthLoginOkResponseModel:
      type: "object"
      properties:
        accessToken:
          type: "string"
        refreshToken:
          type: "string"
      required:
        - accessToken
        - refreshToken
