name: Deploy Seahax
run-name: ${{ github.workflow }}

on:
  workflow_dispatch: {}
  push:
    branches: [main]

env:
  GITHIB_TOKEN: ${{ secrets.GITHUB_TOKEN }}
  GH_TOKEN: ${{ secrets.GITHUB_TOKEN }}
  PACKAGE: app-seahax
  PACKAGE_DIR: "apps/seahax"
  IMAGE_REGISTRY: registry.digitalocean.com/seahax
  IMAGE_NAME: app
  SENTRY_AUTH_TOKEN: ${{ secrets.SENTRY_AUTH_TOKEN }}

concurrency:
  group: ${{ github.workflow }}

jobs:
  build:
    runs-on: ubuntu-latest
    steps:
      - name: Checkout
        uses: actions/checkout@v4
        with:
          fetch-depth: 0

      - name: Setup Mise
        uses: jdx/mise-action@v2

      - name: Setup DOCTL
        run: doctl auth init -t "${{ secrets.DIGITALOCEAN_TOKEN }}"

      - name: Setup Docker
        uses: docker/login-action@v3
        with:
          registry: ${{ env.IMAGE_REGISTRY }}
          username: ${{ secrets.DIGITALOCEAN_USERNAME }}
          password: ${{ secrets.DIGITALOCEAN_TOKEN }}

      - name: Restore
        run: pnpm install --frozen-lockfile

      - name: Build
        run: nx docker.build "${PACKAGE}" -- -t "${IMAGE_REGISTRY}/${IMAGE_NAME}:latest"

      - name: Test
        run: nx test "${PACKAGE}"

      - name: Docker Push
        run: docker push "${IMAGE_REGISTRY}/${IMAGE_NAME}:latest"
