name: Publish NPM
run-name: ${{ github.workflow }}

on:
  push:
    branches:
      - main
    paths:
      - "packages/**"
  workflow_dispatch:

jobs:
  prepare:
    runs-on: ubuntu-latest
    outputs:
      matrix: ${{ steps.set-matrix.outputs.matrix }}

    steps:
      - name: Checkout
        uses: actions/checkout@v4

      - name: Setup Node
        uses: actions/setup-node@v6
        with:
          node-version: "22"
          cache: "npm"

      - name: Set Matrix
        id: set-matrix
        run: |
          set -e
          matrix=()

          for dir in packages/*; do
            if [ ! -f "$dir/package.json" ]; then continue; fi

            pushd "$dir" >/dev/null || continue
            name=$(npm pkg get name | jq -r)
            version=$(npm pkg get version | jq -r)
            private=$(npm pkg get private | jq -r)
            popd >/dev/null || continue

            if [ "$private" = true ]; then continue; fi
            if [ -z "$name" ]; then continue; fi
            if [ -z "$version" ]; then continue; fi

            matrix+=("$dir")
          done

          matrix_json=$(jq --compact-output --null-input '$ARGS.positional' --args -- "${matrix[@]}")
          echo "matrix=$matrix_json" >> $GITHUB_OUTPUT

  publish:
    needs: prepare
    runs-on: ubuntu-latest
    strategy:
      matrix:
        dir: ${{ fromJson(needs.prepare.outputs.matrix) }}

    steps:
      - name: Checkout
        uses: actions/checkout@v4

      - name: Setup Node
        uses: actions/setup-node@v6
        with:
          node-version: "22"
          cache: "npm"
          token: ${{ secrets.NPM_TOKEN }}

      - name: Restore Dependencies
        run: |
          set -e
          npm ci
          cd "${{ matrix.dir }}"
          npm ci

      - name: Build
        working-directory: ${{ matrix.dir }}
        run: npm run build --if-present

      - name: Test
        working-directory: ${{ matrix.dir }}
        run: npm test --if-present

      - name: Publish
        working-directory: ${{ matrix.dir }}
        run: |
          set -e
          name=$(npm pkg get name | jq -r)
          version=$(npm pkg get version | jq -r)

          if npm view "$name@$version" version --silent > /dev/null; then
            echo "$name@$version already published, skipping."
            exit
          fi

          npm ci
          npm publish
